body {
    background: url('./assets/bg-mobile.svg') #000;
    background-repeat: no-repeat;
    background-size: 100%;
    /*height: 100vh;*/
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #fff;
    font-family: 'Poppins', sans-serif;
}

.page-container {
    max-width: 1024px;
    margin: 30px auto;
}

header img {
    width: 50%;
    margin-bottom: 30px;
}

main .image-container img {
    width: 80%;
    display: block;
    margin: auto;
}

main .text-container {
    text-align: center;
}

main .text-container button {
    background: #fff;
    font-size: 20px;
    border-radius: 40px;
    padding: 15px 50px;
}

footer {
    margin: 25px auto;
}

footer div.social {
    display: block;
    text-align: center;
}

footer div.social a {
    font-size: 20px;
    color: #fff;
    border: 2px solid #fff;
    margin: 0 12px;
    padding: 8px 12px;
    border-radius: 50%;
}

@media (width > 490px) {
    header img {
        width: 25%;
    }
}

@media (width > 900px) {
    header {
        margin: 30px auto;
    }

    main {
        display: flex;
    }

    main div {
        flex: 50%;
    }

    main .text-container {
        text-align: left;
    }

    footer div.social {
        float: right;
    }
}